<div class="container row">
    <h2>Kampanya Koşulları</h2>
    <div class="text col-md-9">
        <ul>
            <li>Kampanya 31.12.2024 tarihine kadar geçerlidir.</li>
            <li>Araç teslimi sırasında Türk Hava Yolları personelinin çalıştığı kuruma ait kimlik kartını göstermesi gerekmektedir.</li>
            <li>Kampanyalı fiyatlar, günlük araç kiralama ofiste öde-liste fiyatları üzerinden hesaplanır.</li>
            <li>Kampanya kapsamında; Türk Hava Yolları çalışanlarına araç kiralamalarında ön ödemesiz indirim uygulanacaktır.</li>
            <li>Rent Go mobil uygulamasından yapılacak rezervasyonlarda ekstra %5 indirim uygulanacaktır.</li>
            <li>Türk Hava Yolları çalışanları ofislerimizden özel fiyatlarla Güvence Paketi satın alabileceklerdir.</li>
            <li>Rent Go genel kiralama koşulları geçerlidir.</li>
            <li>Kampanya sadece yurtiçi günlük (1-28 Gün) kiralamalarda geçerlidir. Aylık veya uzun dönem kiralamalarda geçerli değildir.</li>
            <li>Bu kampanya, başka bir kampanya veya indirim kodu ile birleştirilemez.</li>
            <li>Araç kiralama ücreti dışında yapılan ödemeler kampanya kapsamı dışındadır (depozito, sigorta, ek ürünler-sigortalar, km aşım bedeli, HGS ve trafik cezası, muadil araç, farklı yerde bırakma ücreti vb).</li>
            <li>Detaylı bilgi için 444 40 61 Rent Go Rezervasyon Merkezini arayabilir veya rezervasyonrentgo.com adresine mail atabilirsiniz.</li>
            <li>Rent Go, kampanya koşullarında değişiklik yapma hakkını saklı tutar.</li>
            <li>Uzun dönem kiralamalarda geçerli olacak fiyatlar için Rezervasyon Merkezimizden bilgi alabilirsiniz.</li>
        </ul> 
    </div>
    <div class="image col-md-3">
        <img src="../../../assets/kamp2.jpg" alt="detay2"> 
    </div>   
</div>