<footer class="text-center text-white" style="background-color: #240750">
  <div class="container">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white"><span>Hakkımızda</span></a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white"><span>Araç Kiralama Koşulları</span></a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white"><span>KVKK Aydınlatma Metni</span></a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white"><span>Çerez Politikası</span></a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white"><span>İletişim</span></a>
          </h6>
        </div>
      </div>
    </section>
    <hr class="my-5" />
    <p>© 2024 Tüm hakları saklıdır</p>
  </div>
</footer>
