<header>
    <div class="filler">
        <h1 class="bg">KVKK Bildirimi</h1>
    </div>
</header>
<main>
    <section>
        <h2>Kişisel Veri Toplama ve İşleme Amaçları</h2>
        <p>[Şirket Adı], sizinle olan ilişkimiz kapsamında belirli kişisel verilerinizi toplamakta ve işlemektedir. Bu veriler, hizmetlerimizi sunmak, işlemleri gerçekleştirmek, taleplerinizi yerine getirmek, size bilgi sağlamak, güvenlik amacıyla kayıt tutmak ve yasal gereksinimlere uyum sağlamak gibi amaçlarla kullanılmaktadır.</p>
    </section>
    <section>
        <h2>Toplanan Kişisel Veriler</h2>
        <p>[Şirket Adı], adınız, iletişim bilgileriniz, demografik bilgileriniz, kullanıcı hesabınızla ilgili bilgiler, satın alma geçmişi gibi çeşitli kişisel verileri toplayabilir. Bu veriler, sunduğumuz hizmetlerle ilgili taleplerinizi karşılamak ve size daha iyi bir deneyim sunmak için kullanılır.</p>
    </section>
    <section>
        <h2>Kişisel Veri Güvenliği</h2>
        <p>Kişisel verilerinizin güvenliğini sağlamak için gereken tüm teknik ve organizasyonel önlemleri alıyoruz. Verilerinizin yetkisiz erişim, değiştirme, ifşa veya imha edilmesini önlemek için güvenlik protokolleri ve şifreleme yöntemleri kullanıyoruz.</p>
    </section>
    <section>
        <h2>Üçüncü Taraf Paylaşımı</h2>
        <p>Kişisel verilerinizi yalnızca yasal gereklilikler veya hizmet sağlayıcılarımızla ilişkilendirme gereksinimleri dahilinde üçüncü taraflarla paylaşmaktayız. Bu paylaşımlar, veri güvenliği ve gizliliğini sağlamak için gerekli anlaşmalar yapılarak gerçekleştirilir.</p>
    </section>
    <section>
        <h2>Kişisel Veri Saklama Süresi</h2>
        <p>Kişisel verilerinizi, işleme amaçlarına uygun olarak ve yasal gerekliliklere göre belirlenen süreler boyunca saklarız. Verilerinizi, artık gerekli olmadığı zaman veya yasal saklama süresi sona erdiğinde güvenli bir şekilde imha ederiz.</p>
    </section>
    <section>
        <h2>Veri Sahibi Hakları</h2>
        <p>KVKK kapsamında, kişisel verilerinizle ilgili belirli haklara sahipsiniz. Bu haklar arasında, veriye erişim, düzeltme, silme, işlemeye itiraz ve taşınabilirlik hakları bulunmaktadır. Bu haklarınızı kullanmak için bizimle iletişime geçebilirsiniz.</p>
    </section>
    <section>
        <h2>Değişiklikler ve Güncellemeler</h2>
        <p>Bu KVKK bildirimini zaman zaman güncelleyebiliriz. Güncellemeleri takip etmek ve son değişiklikler hakkında bilgi sahibi olmak için bu bildirimi düzenli olarak kontrol etmenizi öneririz.</p>
    </section>
</main>