
<hr>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" method="post" id="signupForm" name="signupForm" #signupForm="ngForm" (ngSubmit)="onUserCreate(signupForm.value)">
			<h1>Hesap Oluştur</h1>
			<input type="text" placeholder="İsim" name="userName" ngModel/>
			<input type="email" placeholder="Email" name="mail" ngModel/>
			<input type="password" placeholder="Şifre" name="password" ngModel/>
			<button class="bgwhiteb">Kaydol</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Giriş Yap</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Şifre" />
			<a href="#">Şifrenizi mi unuttunuz?</a>
			<button class="bgwhiteb signin">Giriş Yap</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Tekrardan Hoşgeldiniz!</h1>
				<p>Bizimle bağlantıda kalmak için lütfen kişisel bilgilerinizle giriş yapın</p>
				<button class="ghost" id="signIn" (click)="onSignInClick()">Giriş Yap</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Merhaba!</h1>
				<p>Kişisel bilgilerinizi girin ve bizimle yolculuğa başlayın</p>
				<button class="ghost" id="signUp" (click)="onSignUpClick()">Kaydol</button>
			</div>
		</div>
	</div>
</div>
<hr>
