<header>
  <div class="filler">
    <h1 class="bg">Çerez Politikası</h1>
  </div>
</header>
<main>
  <section>
    <h2>Çerez Nedir?</h2>
    <p>
      Çerezler, bir web sitesi tarafından tarayıcınıza gönderilen küçük metin
      dosyalarıdır. Bu dosyalar, web sitesinin size özgü deneyimler sunmasını
      sağlar. Çerezler genellikle tercihlerinizi hatırlamak, siteyi daha etkin
      bir şekilde çalıştırmak, ziyaretçi sayısını izlemek ve ilgi alanlarınıza
      göre reklamları kişiselleştirmek gibi amaçlarla kullanılır.
    </p>
  </section>
  <section>
    <h2>Hangi Tür Çerezler Kullanılır?</h2>
    <p>
      [Şirket Adı], web sitesinde iki tür çerez kullanmaktadır: oturum çerezleri
      ve kalıcı çerezler. Oturum çerezleri, tarayıcınızı kapatıncaya kadar
      geçerlidir ve web sitesinin güvenli bir şekilde kullanılmasını sağlar.
      Kalıcı çerezler ise belirli bir süre boyunca bilgisayarınızda saklanır ve
      tekrar ziyaret ettiğinizde sizi tanıyarak kişiselleştirilmiş deneyimler
      sunar.
    </p>
  </section>
  <section>
    <h2>Çerezleri Nasıl Kullanabilirsiniz?</h2>
    <p>
      Tarayıcınızın ayarlarını değiştirerek çerezleri kabul etmeyi veya
      reddetmeyi seçebilirsiniz. Ancak, bazı durumlarda çerezleri reddetmek, web
      sitemizin bazı özelliklerinin düzgün çalışmasını engelleyebilir veya
      sınırlayabilir.
    </p>
  </section>
  <section>
    <h2>Çerez Bilgilerinin Kullanımı ve Saklanması</h2>
    <p>
      [Şirket Adı], web sitesinde toplanan çerez bilgilerini sadece yukarıda
      belirtilen amaçlarla kullanır. Bu bilgiler, üçüncü şahıslarla paylaşılmaz
      ve yalnızca web sitesinin performansını ve ziyaretçi deneyimini
      geliştirmek amacıyla iç kullanım için saklanır.
    </p>
  </section>
  <section>
    <h2>Çerez Politikası Güncellemeleri</h2>
    <p>
      Bu çerez politikası zaman zaman güncellenebilir. Herhangi bir güncelleme
      durumunda, değişikliklerin yürürlüğe girmesinden önce web sitemizde ilan
      edileceğini belirtmek isteriz.
    </p>
  </section>
  <section>
    <h2>İletişim Bilgileri</h2>
    <p>
      Çerez politikası hakkında daha fazla bilgi veya sorularınız varsa, lütfen
      bize <a href="mailto:ornek@email.com">ornek&#64;email.com</a> adresinden
      veya telefon numarası ile iletişime geçin.
    </p>
  </section>
</main>
