
.background {
    width:100%;
    height: 100%;
    background-image: url(../../../assets/about.jpg); 
}

figure.snip0045 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 380px;
    max-width: 480px;
    width: 100%;
    background: #ffffff;
    color: #000000;
  }
  figure.snip0045 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0045 > img {
    width: 50%;
    border-radius: 50%;
    border: 4px solid #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    position: relative;
    left: -15%;
    z-index: 1;
  }
  figure.snip0045 figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    right: 0;
    width: 50%;
  }
  figure.snip0045 figcaption h2,
  figure.snip0045 figcaption p {
    margin: 0;
    text-align: right;
    padding: 10px 0;
    width: 100%;
  }

  figure.snip0045 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  figure.snip0045 figcaption h2 span {
    font-weight: 800;
  }

  figure.snip0045 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
  }

  figure.snip0045 figcaption .icons {
    width: 100%;
    text-align: right;
  }

  figure.snip0045 figcaption .icons i {
    font-size: 26px;
    padding: 5px;
    top: 50%;
    color: #000000;
  }

  figure.snip0045 figcaption a {
    opacity: 0.3;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figure.snip0045 figcaption a:hover {
    opacity: 0.8;
  }

  figure.snip0045 .position {
    width: 100%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
  }

  figure.snip0045.red .position {
    background: #240750;
  }

  figure.snip0045:hover > img,
  figure.snip0045.hover > img {
    left: -12%;
  }

  img{
    max-height: 250px;
    object-fit: cover;
    padding-left: 40px;
  }

  .red{
    box-shadow: 10px 10px 5px rgb(88, 94, 96);
  }
