<div class="background">
  <div class="us  position-absolute top-50 start-50 translate-middle">
    <figure class="snip0045 red">
        <figcaption>
          <h2>Muhammet Emre <span>SÖYLEMEZ</span></h2>
          <p>Haliç Üniversitesi Yönetim Bilişim Sistemleri bölümünden mezun oldu.İstanbul'da yaşıyor.</p>
          <div class="icons">
            <a href="#"><i class="ion-ios-home"></i></a>
            <a href="#"><i class="ion-ios-email"></i></a>
            <a href="#"><i class="ion-ios-telephone"></i></a>
          </div>  
        </figcaption>
        <img src="../../../assets/aboutprfl.jpeg" alt="sample7"/> 
        <div class="position">Jr.FrontEnd Dev.</div>
      </figure>
  </div>
</div>
