<div class="tarih">
  <mat-form-field>
    <mat-label>Bir tarih aralığı giriniz.</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Başlangıç" />
      <input matEndDate formControlName="end" placeholder="Bitiş" />
    </mat-date-range-input>
    <mat-hint>AA/GG/YYYY - AA/GG/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (range.controls.start.hasError('matStartDateInvalid')) {
    <mat-error>Invalid start date</mat-error>
    } @if (range.controls.end.hasError('matEndDateInvalid')) {
    <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>
  <button type="button" class="btn mb-3 btn-primary">Ara</button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="filter col-md-2">
      <div class="kasa">
        <p class="mt-4">KASA</p>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Sedan</label>
        </div>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Coupe</label>
        </div>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Truck</label>
        </div>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Hatchback</label>
        </div>
      </div>
      <hr />
      <div class="yakit">
        <p>YAKIT</p>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Dizel</label>
        </div>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Benzin</label>
        </div>
      </div>
      <hr />
      <div class="vites mt-3">
        <p>VİTES</p>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Otomatik</label>
        </div>
        <div class="checkbox-wrapper-13">
          <input id="c1-13" type="checkbox" />
          <label for="c1-13">Manuel</label>
        </div>
      </div>
    </div>

    <div class="cards col-md-10 d-flex flex-row">
      <div class="card col-4" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary p-3 d-flex justify-content-center">Kirala</a>
        </div>
      </div>
      <div class="card col-4" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary p-3 d-flex justify-content-center">Kirala</a>
        </div>
      </div>
      <div class="card col-4" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary p-3 d-flex justify-content-center">Kirala</a>
        </div>
      </div>
    </div>
  </div>
</div>
