@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.card-text {
  font-family: "Roboto";
  background: #57a6a1;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  width: 60%;
}

.datepicker {
  margin: 25px;
  margin-left: 35%;
  padding-top: 2%;
  border: 5px solid rgb(87, 166, 161, 0.3);
  border-bottom: none;
  border-right: none;
  border-top-style: dashed;
}

.btn {
  border: none;
  border-radius: 4px !important;
  margin-left: 10px;
  font-family: "Poppins";
}
.btn.btn-primary {
  background: #fff;
  color: #6c63ff;
  padding: 15px 20px;
}
.btn:hover {
  background: #6c63ff;
  color: #fff;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.filter {
  background-color: #240750;
  max-width: 10%;
  max-height: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.brand {
  margin-top: 35%;
  display: flex;
  flex-direction: column;
}

.type {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.fuel {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.year {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

hr {
  width: 60px;
}

.checkbox-wrapper-13 {
  margin-left: 20px;
}

hr {
  border-top: 20px solid #57a6a1;
  width: 100%;
}

.card-title {
  font-family: "Oswald";
}

p {
  font-family: "Oswald";
}

label {
  font-family: "Poppins";
}

.btn-outline-secondary {
  background: #6c63ff;
  color: #fff;
  margin-right: 5%;
  margin-left: 5%;
}

.btn-outline-secondary:hover{
  background:#fff ;
  color:#6c63ff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Kartları yatayda eşit olarak dağıt */
}

.card {
  width: calc(30% - 10px); /* Kartların genişliği, marginları çıkararak hesaplanıyor */
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Ekran boyutlarına göre kartların genişliklerini ayarla */
@media screen and (max-width: 992px) {
  .card {
    width: calc(50% - 10px); /* Kartlar %50 genişlikte olacak */
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: calc(100% - 10px); /* Kartlar %100 genişlikte olacak */
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin-right: 3px; /* Sağ taraftaki boşluk */
  padding: 15px 20px;
}

.paginationControl{
  margin-left: 40%;
  background: rgb(87, 166, 161, 0.3);
  color: black;
  display:inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: center;
  margin: auto;
  padding-left: 40%;
  margin-top: 10px;
}

.select{
  border: 3px dashed white;
  border-left: none;
  border-top: none;
  border-radius: 3px;
  background: #6c63ff;
  color: white;
}






