<form class="datepicker row row-cols-sm-auto">
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input
          name="datepicker"
          class="form-control"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          [autoClose]="'outside'"
          (dateSelect)="onDateSelection($event)"
          [displayMonths]="2"
          [dayTemplate]="t"
          outsideDays="hidden"
          [startDate]="fromDate!"
          tabindex="-1"
        />
        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input
        #dpFromDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpFromDate"
        [value]="formatter.format(fromDate)"
        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
      />
    </div>
  </div>
  <button
    class="btn btn-outline-secondary"
    (click)="datepicker.toggle()"
    type="button"
  >
    Tarih Seç
  </button>
  <div class="col-12">
    <div class="input-group">
      <input
        #dpToDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpToDate"
        [value]="formatter.format(toDate)"
        (input)="toDate = validateInput(toDate, dpToDate.value)"
      />
    </div>
  </div>
</form>

<hr />

<div class="container-fluid">
  <div class="row">
    <div class="filter col-md-2">
      <div class="brand">
        <p class="mt-4">Marka</p>
        <select name="brand" class="select" id="brands" [(ngModel)]="brand" (ngModelChange)="onFilterChange()">
          <option value="default" selected>Seçiniz</option>
          <option value="Volvo">Volvo</option>
          <option value="Saab">Saab</option>
          <option value="Mercedes">Mercedes</option>
          <option value="Audi">Audi</option>
        </select>
      </div>
      <hr />
      <div class="type">
        <p>Kasa</p>
        <select name="type" class="select" id="types" [(ngModel)]="type" (ngModelChange)="onFilterChange()">
          <option value="default" selected>Seçiniz</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Sedan">Sedan</option>
          <option value="Coupe">Coupe</option>
          <option value="SUV">SUV</option>
        </select>
      </div>
      <hr />
      <div class="fuel">
        <p>Yakıt</p>
        <select name="selectedFuel" class="select" id="fuelTypes" [(ngModel)]="fuel" (ngModelChange)="onFilterChange()">
          <option value="default" selected>Seçiniz</option>
          <option value="Dizel">Dizel</option>
          <option value="Benzin">Benzin</option>
        </select>
      </div>
      <hr />
      <div class="year mt-3">
        <p>Yıl</p>
        <input type="number" class="select" min="2000" max="2024" step="1" value="" [(ngModel)]="year" (ngModelChange)="onFilterChange()" />
      </div>
      <hr />
    </div>

    
    <div class="cards col-md-10 d-flex flex-row">
      @for(post of data | paginate: {itemsPerPage: 8, currentPage: p}; track post.id){
        <div class="card col-4" style="width: 18rem">
          <img class="card-img-top" [src]="post.img_url" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{{post.brand +"  "+ post.model+"  "+ post.year}}</h5>
            <p class="card-text d-inline-flex">
              Günlük Fiyat : {{post.price}}
            </p>
            <div class="button-container">
              <a [routerLink]="['/carDetail', post.id]"
              routerLinkActive="active" class="btn btn-primary p-3 d-flex justify-content-center"
              >Detay</a
            >
            <a href="#" class="btn btn-primary p-3 d-flex justify-content-center"
              >Kirala</a
            >
            </div>
          </div>
        </div>
      }
    </div>
    <div class="paginationControl">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <hr />
</div>
