<div class="container">
  <div class="row">
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust1.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust2.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust3.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust4.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust5.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust6.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust7.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust8.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card col-sm-4">
      <img
        class="card-img-top"
        src="../../../assets/cust9.jpg"
        alt="Card image cap"
      />
    </div>
  </div>
</div>
